.footer {
    width: 100%;
    height: 125px;
    background-color: #121619;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialMedia svg {
    color: white;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 40px;
    cursor: pointer;
}

.footer p {
    color: white;
    text-align: center;
}